body {text-align:center;background:img src="mangrove.jpg"; background-size: cover; color:248fff; font-style: Arial
}

hr{width: 250px;
}

h2{font-size: 35px;
	font-family: 'Inknut Antiqua', serif;}

p{font-size: 25px;
	font-family: 'Bree Serif', serif;
}

