body {text-align:center;background:img src="mangrove.jpg"; background-size: cover; color:248fff; font-style: Arial
}

hr{width: 250px;
}


p{font-size: 40px;
	font-family: 'Inknut Antiqua', serif;
	line-height: 1.5em;
	margin: 2em;
}

strong{
	font-variant: small-caps;
}